
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-header {
  position: relative;
  height: 56px
}

.wrapper {
  position: relative;
  width: 1200px;
  position: relative;
  margin-right:auto;
  margin-left:auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.main-navigation {
  display: flex;
  position: relative;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  width: 100%;
}

.site-navigation li  {
  text-decoration: none;
  color:#000000;
  font-size:14px;
  font-weight:bold;
  width: 25%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  padding-right: 90px;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #d1d1d1;
}
.banner {
  background:
  url("../img/mountainbottom.svg") no-repeat 0 455px,
  url("../img/mountain.jpg") no-repeat 0 -55px;
  width: 1200px;
  height: 512px;
  text-align: center;
}

.banner img {
  padding-top: 80px;
}

.advantages {
  line-height: 21px;
}

.advantages-promo-text {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align:center;
  text-transform: uppercase;
}

.advantages-promo-text h2 {
  font-size: 21px;
  margin-top: 11px;
  margin-bottom: 27px;
  line-height: 26px;
}

.advantages ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column-one {
  display: flex;
  background-repeat: no-repeat;
  min-height: 256px;

}

.column-one .text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 290px;
  color: #ffffff;
  background-color:#81b3d2;
  text-transform: uppercase;
  padding: 35px 55px 0;
}


.column-one h3 {
  width: 130px;
  padding-left: 75px;
}

.advantages-item-list-one  {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  height: 331px;
  width: 1200px;
  line-height: 21px;
}

.advantages-city-accomodation {
  background: url("../img/house.svg") no-repeat 90px 0;
}

.advantages-city-food {
  background: url("../img/burger.svg") no-repeat 105px 0;
}

.advantages-city-souvenirs {
  background: url("../img/gift.svg") no-repeat 110px 0;
}

.advantages-item-list-one h3 {
  font-size: 21px;
  line-height: 21px;
  padding-top: 80px;
 }

.advantages-city-accomodation p {
  width: 257px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
}

.advantages-city-food p {
  width: 285px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
}

.advantages-city-souvenirs p {
  width: 285px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
}

.advantages-item-list-two {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  min-height: 257px;
  background-color: #eeeeee;
}

.advantages-item-list-two .advantages-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  line-height: 21px;

}

.advantages-item-list-two h3 {
  font-size: 21px;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-left: 115px;
}

.advantages-item-list-two p {
  font-size: 14px;
  padding-right: 70px;
  padding-left: 70px;
}

.hotels-search h2 {
  font-size: 30px;
}

.advantages-item-pic-right {
  justify-content: center;
  color: #ffffff;
  background-color: #81b3d2;
  height: 256px;
}

.advantages-item-title {
  font-size: 21px;
  font-weight: bold;
  color:#ffffff;
}

.column-one p,
/*.column-one span,*/
.column-two p,
 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.column-two {
  display: flex;
  flex-direction: row-reverse;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #81b3d2;

}

.advantages-item-pic-left {
  color:#ffffff;
  background-color:#81b3d2;

}

.column-two .text-content {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  width: 400px;
  color: #ffffff;
  line-height: 21px;
  background-color:#81b3d2;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
.interested {

}
.search-hotel {
  text-align: center;
  vertical-align: middle;
  width: 570px;
  padding-top: 35px;
  margin: 0 auto;
  text-align: center;
}

.search-hotel h2 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-hotel p {
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.interested a {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-window {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 118px;
  z-index: 1;
	background-color: #ffffff;
  width: 570px;
  min-height: 395px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.booking-form {
  display: block;
  padding: 55px;
  text-transform: uppercase;
}

.booking-form .arrival,
.booking-form .departure,
.booking-form .person-number-adults,
.booking-form .person-number-children {
  display: flex;
  white-space: nowrap;
}

.arrival input[type="text"],
.departure input[type="text"] {
  padding-left: 10px;
}
.arrival input,
.departure input {
  margin-left: 10px;
}

.modal-window input {
  height: 35px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  }

.booking-form input {
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.booking-form input[type="text"] {
  width: 346px;
  height: 38px;
  margin-bottom: 30px;
  border: none;
}

.modal-window button {
  border: none;
  outline: none;
  background-color: inherit;
  fill: #a9a9a9;
}
.arrival svg,
.departure svg {
  position: absolute;
  transform: translateX(-40px) translateY(-15px) ;
}

.plus,
.minus {
  font-size: 20px;
  font-weight: bold;
  color: #a9a9a9;
  border: none;
  color: #cacaca;
  background-color: #f2f2f2;
}

.minus {
  padding-left: 10px;
}

.plus {
  padding-right: 10px;
}

.btn:hover {
  fill: #000000;
  color: #000000;
}

.btn:active{
  fill: #81b3d2;
  color:#81b3d2;
}

input[type="submit"]{
  display: block;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  margin-top: 60px;
  font-size: 21px;
  font-weight: bold;
  border: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #669ec0;
}

input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.count-person {
  display: flex;
  flex-direction: row;
}

 .booking-form input[type="number"],
 .number-input-button {
  width: 54px;
  height: auto;
  text-align: center;
  padding-left: 10px;
}

.count-adults,
.count-child {
 display: flex;
 padding-left: 30px;
}

.person-number-children {
  padding-left: 60px;
}

.count-adults button,
.count-child button {
  height: 38px;
  font-size: 21px;
  font-weight: 600;
  color: #a9a9a9;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
}

.map {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.main-footer {
  display: flex;
  width: 1200px;
  background-color: #ffffff;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
}

.visit-place-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  padding-left: 132px;
  text-transform: uppercase;
}

.main-footer ul {
  list-style: none;

}

.social-icons svg {
  position: relative;
  top: 14px;
}

.main-footer li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-button  {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  display: inline-block;
  white-space: nowrap;
  margin-right: 210px;
  margin-top: 40px;
}

.footer-copyright img {

}

   /*hotels-page*/

div .selection {
  box-sizing: border-box;
  min-height: 215px;
  color: #ffffff;
  background: #5d7284;
  background: url("../img/mountainpage2.jpg") no-repeat;
  background-position: center;
}

.search-results {
  background: #fefefe;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 80px;
  box-sizing: border-box;
  height: 85px;
}

.hotels {
  display: flex;
  flex-direction: column;
}

.hotels-item {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  height: 150px;
}

.hotels-item figure {
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 30px;
}

.hotels-item-content a {
  text-decoration: none;
  color: #000000;
}

.hotels-item-content h3 {
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  padding: 0 0 8px;
  margin: 0;
}
.hotels-item-content {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.hotel-type-price {
  padding-bottom: 9px;
}

.hotel-booking a:first-child {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fffFff;
  background: #8dbad6;
  padding: 3px 15px;
}

.hotel-booking a:last-child {
  background-color: #766357;
  color: #fffFff;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 3px 10px;
}

.hotels-item-statistic {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 97px;
  width: 110px;
  text-align: right;
  padding-left: 510px;
}

.hotels-item-statistic p {
  text-transform: uppercase;
  margin: 0;
  padding: 4px;
  width: 110px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
  text-decoration: none;
  text-align: center;
  background-color: #f2f2f2
}
